.container {
    column-count: 3;
    column-gap: 20px;
    column-rule: 4px dotted rgb(79 185 227);
    margin-block-end: 50px;
  }


.card {
    background-color: rgb(207 232 220);
    border: 2px solid rgb(79 185 227);
    padding: 10px;
    margin: 0 0 1em 0;
    box-shadow: 5px 5px 5px 5px grey;
    box-sizing: 50px 50px;


  }


.div {
    /* This is the default, you don't need to
       explicitly declare it unless overriding
       another declaration */
    white-space: nowrap;
  }
